body {
    padding-top: 2.75rem;
    min-width: 334px;
}

nav.sclera-top.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

nav.sclera-top.navbar .navbar-brand span img {
    vertical-align: bottom;
    height: 2.25rem;
}

nav.sclera-top.navbar .navbar-toggler {
    border-color: transparent;
    color: #fff;
}

.jumbotron {
    position: relative;
    color: #fff;
}

.imagecover {
 	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.jumbotron.imagecover {
    background-image: url(/images/patternmatch.jpg);
    background-color: #fff;
    width: 100%;
    z-index: -1;
}

.jumbotron.imagecover:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background-color: rgba(0, 100, 150, 0.9);
    z-index: -1;
}

nav.navbar.sclera-footer {
    padding-top: 0;
    padding-bottom: 0;
}

nav.navbar.sclera-footer ul.navbar-nav {
    flex-direction: row;
}

nav.navbar.sclera-footer ul.navbar-nav li.nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

nav.navbar.sclera-footer ul.navbar-nav li.nav-item a.nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

@media (max-width: 368px) {
    nav.navbar.sclera-footer ul.navbar-nav li.nav-item a.nav-link {
        font-size: 8px;
    }
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9)!important;
}
